y{
      background-color: lightgrey;

    }
    .header {
       display: flex;
       justify-content: center;
       /*align-items: center;

       height: 100vh;*/
       text-emphasis-color: black;
        }

    .stopwatch {
      width: 500px;
      margin: 0 auto;
      text-align: center;
    }
    .display {
      background-color: white;
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-bottom: 1rem;
    }
    .time {
      font-size: 2rem;
    }
    .controls button {
      padding: 0.5rem 1rem;
      margin-right: 1rem;
      border-radius: 10px;
      cursor: pointer;
    }
